<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eatinery</title>
    <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css"  media="screen,projection"/>
	</head>
	<body>
		{{{body}}}
	</body>
</HTML>
