<header>
  <!-- navigation bar -->
  <nav>
    <div class="nav-wrapper">

      <!-- menu todolist icon that is hidden on full screen-->
      <a href="#" data-activates="toDoTab" class="button-collapse"><i class="material-icons">menu</i></a>

      <!-- logo -->
      <a href="#" class="brand-logo center">Eatinerary</a>

      <ul class="right">
        <li><a class="modal-trigger" href="#searchModal"><i class="material-icons">search</i></a></li>

        <!-- option menu icon -->
        <li><a class='dropdown-button' href='#' data-activates='menuDropDown' data-beloworigin="true"><i class="material-icons">more_vert</i></a></li>
      </ul>

      <!-- options menu -->
      <ul id='menuDropDown' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">Log out</a></li>
      </ul>
    </div>
  </nav>

  <!-- Sidetab/ todotab -->
  <div id="toDoTab" class="side-nav fixed">
    <div class="brand-logo center"><h4>To do list</h4><hr></div>
    <ul class="collapsible" data-collapsible="accordion">
      {{#each user}}
      <li>
        <div class="collapsible-header"><i class="material-icons">label</i>{{this.dataValues.title}}</div>
        <div class="collapsible-body"><p id="userComment">{{this.dataValues.description}}</p></div>
      </li>
      {{/each}}
    </ul>
  </div>

  <!-- search modal -->
  <div id="searchModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h5>Search places by destination</h5>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Enter an address, city or ZIP code" id="searchInput" type="text" class="validate">
            <label for="searchInput">Search</label>
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Search</a>
    </div>
  </div>

  <!-- add modal -->
  <div id="addModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h5>Add place to your eatinerary</h5>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Add restaurant name" name = "title" id="nameInput" type="text" class="validate">
            <label for="searchInput">Restaurant Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="commentInput" class="materialize-textarea" name = "comment"></textarea>
            <label for="commentInput">Comments</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <div class="switch">
              <label>
                Off
                <input id="myCheckbox" type="checkbox">
                <span class="lever"></span>
                on
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Please input as YYYY-MM-DD HH:mm AM/PM" name = "time" id="timeInput" type="text" class="validate">
            <label for="searchInput">Enter the time you want an email reminder sent to you</label>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn waves-effect waves-light" type="submit" name="action" id = "addToDo">Submit <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

</header>

<main>
  <div class="row">
    <div class="col s12 m7 l8" id="googleMaps">
    </div>
  </div>

  <div class="fixed-action-btn modal-trigger" href="#addModal">
    <a class="btn-floating btn-large green">
    <i class="large material-icons">playlist_add</i>
    </a>
  </div>
</main>
