  <div class="vid-container">
      <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
          <source src="/assets/video/dine.mp4" type="video/mp4"> 
      </video>

   <div class="box">
      <img id="logo" src="/assets/images/logo2.png">
          <input type="text" placeholder="Username" id="signInUser" class="validate"/>
          <input type="password" placeholder="Password" id="signInPass" class="validate" />
            <button id="signInSubmit" type="submit">Log In</button>
           <p>Not a member? <a id="sign-up-a" class="modal-trigger" data-target="signup" href="#signup">Sign Up</a></p>
    </div>
<!--Closes out vid-container div-->
    </div>

    <!-- Modal Structure for Sign Up button -->
  <div id="signup" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="row">
            <form id = "#signUpForm" class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="First name" id="first_name" type="text" class="validate" name = "firstName">
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                  <input placeholder="Last name" id="last_name" type="text" class="validate" name = "lastName">
                  <label for="last_name">Last Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                    <input placeholder="johndoe88" id="username" type="text" class="validate" name = "username">
                  <label for="username">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Password must be at least 7 characters" id="password" type="password" class="validate" name = "password">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Please re-enter your password" id="reenterpassword" type="password" class="validate" name = "password">
                  <label for="reenterpassword">Re-enter Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input  placeholder="johndoe@web.com" id="email" type="email" class="validate" name = "email">
                  <label for="email">Email</label>
                </div>
              </div>
              <button id = "signUp" class = "waves-effect waves-light btn" type="submit">Sign Up</button>
            </form>
          </div>
    </div>

    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
  </div>
